<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>買い物リスト</title>
    <style>
      td {
        text-align: right;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>買い物リスト</h1>
      <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">追加</button>
      </form>

      <hr /> <!-- 水平バー -->

      <p>合計：{{ total }}円</p>
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>品名</th>
            <th>単価</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
            <tr>
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.total }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
